In [1]:
# Import Dependencies

import pandas as pd
import numpy as np

## Player Financials

In [2]:
# load and read csv file into DataFrame

financials_to_load = "Resources/NFL_Yearly_Breakdown_combined.csv"
financials_df = pd.read_csv(financials_to_load)
financials_df

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,NaN,Mark Sanchez,2011,QB,NYJ,2009,"$14,225,000",$0,"$17,228,125",0.134,"$14,725,000","$10,100,000",5,"$50,500,000","$41,392,500",2014,2009,22,25,NaN
1,NaN,Dwight Freeney,2011,OLB,IND,2002,"$11,420,000","$2,500,000","$16,420,000",0.134,"$11,420,000","$12,000,000",6,"$72,000,000","$72,137,572",2013,2007,26,31,NaN
2,NaN,Larry Fitzgerald,2011,WR,ARI,2004,"$2,000,000","$5,000,000","$16,250,000",0.133,"$20,000,000","$16,142,857",7,"$113,000,000","$73,782,500",2019,2011,27,28,NaN
3,NaN,Mario Williams,2011,DE,HOU,2006,"$13,800,000",$0,"$16,200,000",0.135,"$13,800,000","$9,000,000",6,"$54,000,000","$44,500,000",2012,2006,20,26,NaN
4,NaN,Peyton Manning,2011,QB,IND,1998,"$3,400,000","$4,000,000","$16,000,000",0.130,"$26,400,000","$18,000,000",5,"$90,000,000","$171,732,000",2016,2011,34,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,NaN,Bradley Roby,2024,CB,NO,2014,$0,$0,"$169,475",0.001,$0,"$10,500,000",3,"$31,500,000","$54,970,752",2023,2020,27,32,NaN
24853,NaN,Jesse James,2024,TE,CHI,2015,$0,"$162,500","$162,500",0.001,$0,"$1,650,000",1,"$1,650,000","$17,707,976",2022,2021,26,30,NaN
24854,NaN,Damien Williams,2024,RB,CHI,-99,$0,"$125,000","$125,000",0.000,$0,"$1,500,000",1,"$1,500,000","$8,972,000",2022,2021,28,32,NaN
24855,NaN,Tanoh Kpassagnon,2024,DE,NO,2017,$0,"$100,000","$100,000",0.000,$0,"$2,250,000",2,"$4,500,000","$9,290,468",2023,2021,26,30,NaN
24856,NaN,"Odell Beckham, Jr.",2024,WR,LAR,2014,$0,"$100,000","$100,000",0.000,$0,"$1,250,000",1,"$1,250,000","$82,896,476",2022,2021,28,32,NaN

In [3]:
# Look for missing values

print(financials_df.count())
financials_df.isnull()

Rank                0
Player          24857
Year            24857
Pos             24857
Team            24857
Draft Year      24857
BaseSalary      24857
SigningBonus    24857
Cap Hit         24857
Salary%         24857
Cash            24857
AAV             24857
CONT YR         24857
CONT VALUE      24857
Earnings        24857
FA Year         24857
Sign Year       24857
Sign Age        24857
Age             24857
Unnamed: 19         0
dtype: int64

,Rank,Player,Year,Pos,Team,Draft Year,BaseSalary,SigningBonus,Cap Hit,Salary%,Cash,AAV,CONT YR,CONT VALUE,Earnings,FA Year,Sign Year,Sign Age,Age,Unnamed: 19
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24852,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24853,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24854,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24855,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24856,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [4]:
# Drop columns

financials_df = financials_df.drop(columns=["Rank","Unnamed: 19","Age", "FA Year", 
        "Sign Year", "Sign Age","Cash","Draft Year","AAV","CONT YR","CONT VALUE","Earnings"])
financials_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130
...,...,...,...,...,...,...,...,...
24852,Bradley Roby,2024,CB,NO,$0,$0,"$169,475",0.001
24853,Jesse James,2024,TE,CHI,$0,"$162,500","$162,500",0.001
24854,Damien Williams,2024,RB,CHI,$0,"$125,000","$125,000",0.000
24855,Tanoh Kpassagnon,2024,DE,NO,$0,"$100,000","$100,000",0.000
24856,"Odell Beckham, Jr.",2024,WR,LAR,$0,"$100,000","$100,000",0.000

In [5]:
# Drop rows with future years

values = [2022, 2023, 2024]
financials_df = financials_df[financials_df.Year.isin(values)==False]
financials_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130
...,...,...,...,...,...,...,...,...
21996,Stephen Sullivan,2021,WR,CAR,"$36,666",$0,"$36,666",0.000
21997,Jalen Camp,2021,WR,HOU,"$36,666",$0,"$36,666",0.000
21998,Michael Dwumfour,2021,DT,HOU,"$36,666",$0,"$36,666",0.000
21999,Tarik Black,2021,WR,NYJ,"$36,666",$0,"$36,666",0.000
22000,Connor Strachan,2021,LB,HOU,"$36,666",$0,"$36,666",0.000

In [6]:
# Check again for missing values

print(financials_df.count())
financials_df.isnull()

Player          22001
Year            22001
Pos             22001
Team            22001
BaseSalary      22001
SigningBonus    22001
Cap Hit         22001
Salary%         22001
dtype: int64

       Player   Year    Pos   Team  BaseSalary  SigningBonus  Cap Hit  Salary%
0       False  False  False  False       False         False    False    False
1       False  False  False  False       False         False    False    False
2       False  False  False  False       False         False    False    False
3       False  False  False  False       False         False    False    False
4       False  False  False  False       False         False    False    False
...       ...    ...    ...    ...         ...           ...      ...      ...
21996   False  False  False  False       False         False    False    False
21997   False  False  False  False       False         False    False    False
21998   False  False  False  False       False         False    False    False
21999   False  False  False  False       False         False    False    False
22000   False  False  False  False       False         False    False    False

[22001 rows x 8 columns]

In [7]:
# Combine the records of renamed teams; look at random selection

financials_df["Team"].replace({"LAR":"LAR/STL", "STL":"LAR/STL", "JAC":"JAX","LV": "LV/OAK","OAK": "LV/OAK", "SD":"LAC/SD", "LAC":"LAC/SD"},inplace=True)
financials_df.sample(25)

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\pandas\core\series.py:4515: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%
1149,Kory Sperry,2011,TE,LAC/SD,"$525,000",$0,"$525,000",0.004
5646,Brandon Spikes,2014,ILB,BUF,"$1,250,000","$900,000","$3,250,000",0.022
235,Kyle Williams,2011,DT,BUF,"$3,000,000","$950,000","$3,950,000",0.028
8594,Jamon Brown,2015,RT,LAR/STL,"$386,823","$188,704","$575,527",0.004
11835,Kyle Juszczyk,2017,FB,SF,"$2,000,000","$1,250,000","$3,750,000",0.018
9373,Matt Ryan,2016,QB,ATL,"$15,750,000","$5,600,000","$23,750,000",0.150
11593,Riley Reiff,2017,LT,MIN,"$6,200,000","$2,200,000","$8,500,000",0.050
20942,Tim Settle,2021,DT,WAS,"$920,000","$67,011","$987,011",0.005
14778,Wes Schweitzer,2018,G,ATL,"$630,000","$33,095","$663,095",0.004
1318,Crezdon Butler,2011,CB,ARI,"$450,000",$0,"$450,000",0.004
18983,Siran Neal,2020,S,BUF,"$750,000","$71,504","$821,504",0.004
5543,Todd Herremans,2014,G,PHI,"$3,000,000","$1,200,000","$4,200,000",0.028
9821,Jared Cook,2016,TE,GB,"$1,425,000","$825,000","$2,750,000",0.017
13440,Kenny Britt,2017,WR,NE,"$158,824",$0,"$158,823",0.001
8225,Jarvis Landry,2015,WR,MIA,"$577,951","$211,802","$789,753",0.005
13400,Shane Smith,2017,FB,NYG,"$218,824",$0,"$218,824",0.001
1230,Brody Eldridge,2011,TE,IND,"$450,000","$40,700","$490,700",0.004
534,Steve Breaston,2011,WR,KC,"$700,000","$1,000,000","$1,700,000",0.012
4726,Ryan Lindley,2013,QB,ARI,"$480,000","$26,327","$506,327",0.004
10171,Myles Jack,2016,OLB,JAX,"$450,000","$701,716","$1,151,716",0.006
2343,Anthony Collins,2012,LT,CIN,"$700,000","$325,000","$1,025,000",0.009
17421,Chris Clark,2019,LT,HOU,"$601,765",$0,"$417,353",0.002
5372,Marques Colston,2014,WR,NO,"$5,500,000","$2,000,000","$8,300,000",0.063
18355,Josh Hill,2020,TE,NO,"$1,785,000","$750,000","$2,813,750",0.014
1178,Thomas Morstead,2011,P,NO,"$480,000","$41,250","$521,250",0.004

In [8]:
# Export financial Dataframe to csv

financials_df_path = "Resources/financials_df.csv"
financials_df.to_csv(financials_df_path)

## Team Standings

In [9]:
# load and read csv file into DataFrame

standings_to_load = "Resources/nfl_standings.csv"
nfl_standings_df = pd.read_csv(standings_to_load)
nfl_standings_df

,season,conf,division,team,wins,losses,ties,pct,div_rank,scored,allowed,net,sov,sos,seed,playoff
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,LostDV
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,NaN
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,LostWC
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,NaN
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,2002,NFC,NFC South,TB,12,4,0,0.750000,1,346,196,150,0.427083,0.476562,2.0,WonSB
636,2002,NFC,NFC West,ARI,5,11,0,0.312500,4,262,417,-155,0.400000,0.500000,NaN,NaN
637,2002,NFC,NFC West,SEA,7,9,0,0.437500,3,355,369,-14,0.428571,0.503906,NaN,NaN
638,2002,NFC,NFC West,SF,10,6,0,0.625000,1,367,351,16,0.450000,0.503906,4.0,LostDV
639,2002,NFC,NFC West,STL,7,9,0,0.437500,2,316,369,-53,0.446429,0.507812,NaN,NaN

In [10]:
# Change column headings (to be consistent with financial dataframe)

nfl_standings_df = nfl_standings_df.rename(
    columns={"season": "Year", "pct": "Win %","conf":"Conf","division":"Division",
    "team":"Team","wins":"Wins","losses":"Losses","ties":"Ties","div_rank":"Div_Rank",
    "scored":"Scored","allowed":"Allowed","net":"Net","sov":"SOV","sos":"SOS","playoff":"Playoff"})
nfl_standings_df

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,seed,Playoff
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,LostDV
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,NaN
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,LostWC
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,NaN
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,2002,NFC,NFC South,TB,12,4,0,0.750000,1,346,196,150,0.427083,0.476562,2.0,WonSB
636,2002,NFC,NFC West,ARI,5,11,0,0.312500,4,262,417,-155,0.400000,0.500000,NaN,NaN
637,2002,NFC,NFC West,SEA,7,9,0,0.437500,3,355,369,-14,0.428571,0.503906,NaN,NaN
638,2002,NFC,NFC West,SF,10,6,0,0.625000,1,367,351,16,0.450000,0.503906,4.0,LostDV
639,2002,NFC,NFC West,STL,7,9,0,0.437500,2,316,369,-53,0.446429,0.507812,NaN,NaN

In [11]:
# Combine records of renamed teams

nfl_standings_df["Team"].replace({"LA": "LAR/STL", "STL": "LAR/STL", "LV": "LV/OAK",
                                 "OAK": "LV/OAK", "SD": "LAC/SD", "LAC": "LAC/SD"}, inplace=True),
nfl_standings_df

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,seed,Playoff
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,LostDV
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,NaN
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,LostWC
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,NaN
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,2002,NFC,NFC South,TB,12,4,0,0.750000,1,346,196,150,0.427083,0.476562,2.0,WonSB
636,2002,NFC,NFC West,ARI,5,11,0,0.312500,4,262,417,-155,0.400000,0.500000,NaN,NaN
637,2002,NFC,NFC West,SEA,7,9,0,0.437500,3,355,369,-14,0.428571,0.503906,NaN,NaN
638,2002,NFC,NFC West,SF,10,6,0,0.625000,1,367,351,16,0.450000,0.503906,4.0,LostDV
639,2002,NFC,NFC West,LAR/STL,7,9,0,0.437500,2,316,369,-53,0.446429,0.507812,NaN,NaN

In [12]:
# Drop data (rows) prior to 2011,

nfl_standings_df.drop(
    nfl_standings_df.loc[nfl_standings_df["Year"] < 2011].index, inplace=True)
nfl_standings_df

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,seed,Playoff
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,LostDV
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,NaN
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,LostWC
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,NaN
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,2011,NFC,NFC South,TB,4,12,0,0.250000,4,287,494,-207,0.437500,0.550781,NaN,NaN
348,2011,NFC,NFC West,ARI,8,8,0,0.500000,2,312,348,-36,0.390625,0.468750,NaN,NaN
349,2011,NFC,NFC West,SEA,7,9,0,0.437500,3,321,315,6,0.437500,0.511719,NaN,NaN
350,2011,NFC,NFC West,SF,13,3,0,0.812500,1,380,229,151,0.418269,0.449219,2.0,LostCC
351,2011,NFC,NFC West,LAR/STL,2,14,0,0.125000,4,193,407,-214,0.531250,0.589844,NaN,NaN

In [17]:
# Add column for superbowl champions

# create conditions for superbowl win for teams that made playoffs
superbowl_conditions = [
    (nfl_standings_df["Playoff"] == "WonSB"),
    (nfl_standings_df["Playoff"] == "LostSB"),
    (nfl_standings_df["Playoff"] == "LostCC"),
    (nfl_standings_df["Playoff"] == "LostDV"),
    (nfl_standings_df["Playoff"] == "LostWC")
]

# Create a list of the values to assign for each condition
values = ["Yes", "No", "No", "No", "No"]

# create a new column and use np.select to assign values for winning column
nfl_standings_df["Won Superbowl"] = np.select(superbowl_conditions, values)

# replace null values with No for teams that did not make playoffs
nfl_standings_df["Won Superbowl"].replace({"0": "No"}, inplace=True)

# display 1 year of data to ensure 1 champion
nfl_standings_df.head(32)

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,seed,Playoff,Won Superbowl
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,LostDV,No
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,NaN,No
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,LostWC,No
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,NaN,No
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,NaN,No
5,2021,AFC,AFC North,CIN,10,7,0,0.588235,1,460,376,84,0.461765,0.472318,4.0,NaN,No
6,2021,AFC,AFC North,CLE,8,9,0,0.470588,3,349,371,-22,0.415441,0.513841,NaN,NaN,No
7,2021,AFC,AFC North,PIT,9,7,1,0.558824,2,343,398,-55,0.490196,0.520761,7.0,LostWC,No
8,2021,AFC,AFC South,HOU,4,13,0,0.235294,3,280,452,-172,0.397059,0.498270,NaN,NaN,No
9,2021,AFC,AFC South,IND,9,8,0,0.529412,2,451,365,86,0.431373,0.494810,NaN,NaN,No
10,2021,AFC,AFC South,JAX,3,14,0,0.176471,4,253,457,-204,0.568627,0.512111,NaN,NaN,No
11,2021,AFC,AFC South,TEN,12,5,0,0.705882,1,419,354,65,0.480392,0.472318,1.0,LostDV,No
12,2021,AFC,AFC West,DEN,7,10,0,0.411765,4,335,322,13,0.357143,0.484429,NaN,NaN,No
13,2021,AFC,AFC West,KC,12,5,0,0.705882,1,480,364,116,0.517157,0.538062,2.0,LostCC,No
14,2021,AFC,AFC West,LAC/SD,9,8,0,0.529412,3,474,459,15,0.500000,0.510381,NaN,NaN,No
15,2021,AFC,AFC West,LV/OAK,10,7,0,0.588235,2,374,439,-65,0.514706,0.510381,5.0,LostWC,No
16,2021,NFC,NFC East,DAL,12,5,0,0.705882,1,530,358,172,0.431373,0.487889,3.0,LostWC,No
17,2021,NFC,NFC East,NYG,4,13,0,0.235294,4,258,416,-158,0.485294,0.536332,NaN,NaN,No
18,2021,NFC,NFC East,PHI,9,8,0,0.529412,2,444,385,59,0.349673,0.468858,7.0,LostWC,No
19,2021,NFC,NFC East,WAS,7,10,0,0.411765,3,335,434,-99,0.420168,0.529412,NaN,NaN,No
20,2021,NFC,NFC North,CHI,6,11,0,0.352941,3,311,407,-96,0.372549,0.524221,NaN,NaN,No
21,2021,NFC,NFC North,DET,3,13,1,0.205882,4,325,467,-142,0.627451,0.527682,NaN,NaN,No
22,2021,NFC,NFC North,GB,13,4,0,0.764706,1,450,371,79,0.479638,0.479239,1.0,LostDV,No
23,2021,NFC,NFC North,MIN,8,9,0,0.470588,2,425,426,-1,0.433824,0.506920,NaN,NaN,No
24,2021,NFC,NFC South,ATL,7,10,0,0.411765,3,313,459,-146,0.315126,0.472318,NaN,NaN,No
25,2021,NFC,NFC South,CAR,5,12,0,0.294118,4,304,404,-100,0.411765,0.508651,NaN,NaN,No
26,2021,NFC,NFC South,NO,9,8,0,0.529412,2,364,335,29,0.516340,0.512111,NaN,NaN,No
27,2021,NFC,NFC South,TB,13,4,0,0.764706,1,511,353,158,0.443439,0.467128,2.0,LostDV,No
28,2021,NFC,NFC West,ARI,11,6,0,0.647059,2,449,366,83,0.491979,0.489619,5.0,LostWC,No
29,2021,NFC,NFC West,LAR/STL,12,5,0,0.705882,1,460,372,88,0.409314,0.482699,4.0,WonSB,Yes
30,2021,NFC,NFC West,SEA,7,10,0,0.411765,4,395,366,29,0.424370,0.519031,NaN,NaN,No
31,2021,NFC,NFC West,SF,10,7,0,0.588235,3,427,365,62,0.438235,0.500000,6.0,LostCC,No

In [18]:
# change playoff column to Yes or No

nfl_standings_df["Playoff"].replace({"LostSB": "Yes", "LostCC": "Yes", "LostDV": "Yes",
                                     "LostWC": "Yes", "WonSB": "Yes"}, inplace=True)

nfl_standings_df["Playoff"].fillna("No", inplace=True)

nfl_standings_df

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,seed,Playoff,Won Superbowl
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,3.0,Yes,No
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,NaN,No,No
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,6.0,Yes,No
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,NaN,No,No
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,NaN,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,2011,NFC,NFC South,TB,4,12,0,0.250000,4,287,494,-207,0.437500,0.550781,NaN,No,No
348,2011,NFC,NFC West,ARI,8,8,0,0.500000,2,312,348,-36,0.390625,0.468750,NaN,No,No
349,2011,NFC,NFC West,SEA,7,9,0,0.437500,3,321,315,6,0.437500,0.511719,NaN,No,No
350,2011,NFC,NFC West,SF,13,3,0,0.812500,1,380,229,151,0.418269,0.449219,2.0,Yes,No
351,2011,NFC,NFC West,LAR/STL,2,14,0,0.125000,4,193,407,-214,0.531250,0.589844,NaN,No,No

In [19]:
# Drop column

nfl_standings_df = nfl_standings_df.drop(columns="seed")
nfl_standings_df

,Year,Conf,Division,Team,Wins,Losses,Ties,Win %,Div_Rank,Scored,Allowed,Net,SOV,SOS,Playoff,Won Superbowl
0,2021,AFC,AFC East,BUF,11,6,0,0.647059,1,483,289,194,0.427807,0.472318,Yes,No
1,2021,AFC,AFC East,MIA,9,8,0,0.529412,3,341,373,-32,0.379085,0.463668,No,No
2,2021,AFC,AFC East,NE,10,7,0,0.588235,2,462,303,159,0.394118,0.480969,Yes,No
3,2021,AFC,AFC East,NYJ,4,13,0,0.235294,4,310,504,-194,0.426471,0.512111,No,No
4,2021,AFC,AFC North,BAL,8,9,0,0.470588,4,387,392,-5,0.459559,0.531142,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,2011,NFC,NFC South,TB,4,12,0,0.250000,4,287,494,-207,0.437500,0.550781,No,No
348,2011,NFC,NFC West,ARI,8,8,0,0.500000,2,312,348,-36,0.390625,0.468750,No,No
349,2011,NFC,NFC West,SEA,7,9,0,0.437500,3,321,315,6,0.437500,0.511719,No,No
350,2011,NFC,NFC West,SF,13,3,0,0.812500,1,380,229,151,0.418269,0.449219,Yes,No
351,2011,NFC,NFC West,LAR/STL,2,14,0,0.125000,4,193,407,-214,0.531250,0.589844,No,No

In [21]:
# Export team standings Dataframe to csv

nfl_standings_df_path = "Resources/standings_df.csv"
nfl_standings_df.to_csv(nfl_standings_df_path)